# File: .github/workflows/OIDC_workflow.yml

name: Run Azure Login with OIDC
on:
  workflow_dispatch:

permissions:
      id-token: write
      contents: read
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      # The credentials looks like https://github.com/Azure/login#configure-a-service-principal-with-a-secret
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: 'Run az deploy cmd'
        run: |
          pwd
          ls bicep-templates
          # az deployment group create --resource-group "mht-playground" --template-file 'bicep-templates/aks.bicep' --parameters aks_name="SCCP-${GITHUB_REF_NAME}"
